@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Bg configs */
.background-gradient::before {
  z-index: -10;
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

.sky-text-gradient {
  background: linear-gradient(
    to right,
    rgb(255, 158, 0) 0%,
    rgb(255, 0, 0) 25%,
    rgb(181, 0, 125) 50%,
    rgb(33, 66, 156) 75%,
    rgb(0, 113, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sky-button-gradient {
  background: linear-gradient(
    to right,
    rgb(255, 158, 0) 0%,
    rgb(255, 0, 0) 25%,
    rgb(181, 0, 125) 50%,
    rgb(33, 66, 156) 75%,
    rgb(0, 113, 255) 100%
  );
}

@media (max-width: 800px) {
  .background-gradient::before {
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
  }
}
/* */

@media (max-width: 500px) {
  .customSm-text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}

.background-container {
  background-image: url("../../public/background.jpg");
  background-size: 100% 70%;
  height: 1500px;
}
