@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.sky-text-gradient {
  background: linear-gradient(
    to right,
    rgb(255, 158, 0) 0%,
    rgb(255, 0, 0) 25%,
    rgb(181, 0, 125) 50%,
    rgb(33, 66, 156) 75%,
    rgb(0, 113, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-image {
  background-image: url("/background.jpg"); /* adjust path accordingly */
  /* background-image: url("/santorini.jpg"); /* adjust path accordingly */
  background-size: cover; /* cover the entire div */
  background-position: center; /* center the background */
  background-repeat: no-repeat; /* prevent repeating the image */
}

.border-gradient {
  border: double 1px transparent;
  border-radius: 0.25rem; /* Optional for rounded borders */
  background-image: linear-gradient(white, white),
    linear-gradient(to right, red, blue);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.sky-button-gradient {
  background: linear-gradient(
    to right,
    rgb(255, 158, 0) 0%,
    rgb(255, 0, 0) 25%,
    rgb(181, 0, 125) 50%,
    rgb(33, 66, 156) 75%,
    rgb(0, 113, 255) 100%
  );
}

.border-gradient {
  border: double 1px transparent;
  border-radius: 0.25rem; /* Optional for rounded borders */
  background-image: linear-gradient(white, white),
    linear-gradient(
      to right,
      rgb(255, 158, 0) 0%,
      rgb(255, 0, 0) 25%,
      rgb(181, 0, 125) 50%,
      rgb(33, 66, 156) 75%,
      rgb(0, 113, 255) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media (max-width: 500px) {
  .customSm-text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: inherit;
  }
}

.typewriter-text {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: blinkTextCursor 500ms steps(44) infinite alternate,
    typewriter 4s steps(44) 1s 1 normal both;
}

.typewriter-effect {
   border-right: 0.15em solid orange; /* The cursor */
   overflow: hidden; /* Ensures the content is clipped */
   white-space: nowrap; /* Keeps the content on a single line */
   margin: 0 auto; /* Gives that typing effect as the typing carat moves */
   animation: 
      typewriter 8s steps(9, end) 1s 1 normal both,
      blinkTextCursor 500ms steps(9) infinite alternate;
}