@media (max-width: 1200px) {
  .bar {
    background-color: white;
    width: 100%;
    height: 10px;
  }
  .sky-button-gradient {
    background: linear-gradient(
      to right,
      rgb(255, 158, 0) 0%,
      rgb(255, 0, 0) 25%,
      rgb(181, 0, 125) 50%,
      rgb(33, 66, 156) 75%,
      rgb(0, 113, 255) 100%
    );
    flex-direction: column;
  }
  .barContainer {
    height: 420px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .barContainer {
    height: 50px;
    width: 100%;
  }
  .bar {
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 150px;
  }
}

.bar {
  background-color: white;
  width: 100%;
  height: 140px;
}

.barContainer {
  height: 150x;
  width: 100%;
}
