@media (max-width: 1200px) {
  .bar {
    flex-direction: column;
    background-color: white;
    width: 100%;
  }
  .sky-button-gradient {
    background: linear-gradient(
      to right,
      rgb(255, 158, 0) 0%,
      rgb(255, 0, 0) 25%,
      rgb(181, 0, 125) 50%,
      rgb(33, 66, 156) 75%,
      rgb(0, 113, 255) 100%
    );
    flex-direction: column;
  }
  .barContainer {
    height: 345px;
    width: 100%;
  }
}

.bar {
  background-color: white;
  width: 100%;
  min-height: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.back {
  background-color: navy;
  height: 600px;
}
